.calendar-container {
  padding: 0 20px;
}

.ant-picker-calendar-date-content {
  overflow: hidden !important;
}

.ant-picker-calendar-date-content:hover {
  overflow: auto !important;
}

.ant-picker-calendar-date-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  height: 3px;
}

.ant-picker-calendar-date-content::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
.event-counter {
  position: absolute;
  top: 9px;
  left: 10px;
}
.calendar-container .ant-radio-button-wrapper:nth-child(2) {
  display: none;
}

.tag-type-calendar {
  cursor: pointer;
}

.event-box {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 2px;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .event-box {
    display: none;
  }
  .event-counter {
    position: static;
  }
}
