.calendar-container {
    padding: 0 20px;
}

.ant-picker-calendar-date-content {
    overflow: hidden !important;
}

.ant-picker-calendar-date-content:hover {
    overflow: auto !important;
}

.ant-picker-calendar-date-content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 3px;
}

.ant-picker-calendar-date-content::-webkit-scrollbar-thumb {
    border-radius: 2px;
	background-color: rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
.event-counter{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.ant-radio-button-wrapper:nth-child(2) {
    display: none;
}