.title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
}

.subtitle {
  margin-left: 8px;
}

.header-title .logo {
  margin-top: 0.6rem;
  height: 1.8rem;
  width: 5rem;
  background: center / contain no-repeat url('./logo-rsschool3.png');
}

@media (max-width: 600px) {
  .header-title .logo {
    height: 1.5rem;
    width: 1.5rem;
    background: center / contain no-repeat url('./logo-RS.png');
  }

  .container-title {
    justify-content: center;
  }
}

.container-title {
  padding: 0.5rem;
  display: flex;
  align-items: baseline;
}
.align-icon {
  line-height: 1.6rem;
}

.profile-menu .anticon {
  display: inline-flex;
}
