.overview div > span {
    font-weight: 600;
}

.overview textarea {
    resize: none;
}

.overview button {
    max-width: 122px;
    position: relative;
    left: calc(100% - 122px);
}

.overview .ant-list-item-meta-description {
    color: #000;
    margin-left: 5px !important;
}

.overview .ant-menu-submenu-title,
.overview .ant-menu-item.ant-menu-item-only-child {
    margin: 0 !important;
}

.overview .ant-list-item-meta-description > a > span {
    margin: 0 5px !important;
}

.overview .ant-list-item {
    height: 40px !important;
    padding: 0 !important;
}

.overview .ant-list-item-meta-content {
    display: flex;
}

.overview .materials:hover {
    cursor: pointer;
}

.overview .ant-list-item-meta-avatar {
    margin-right: 10px !important;
}

.overview .ant-list-item-meta-title {
    margin: 0 !important;
}

.overview .ant-menu-item.ant-menu-item-only-child {
    padding: 0 24px !important;
}

.materials-menu > li > div {
    padding: 0 !important;
}